<!DOCTYPE html>
<html>

  <head>
    <title>Python Flask Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">

    <title>Cloud Computing Assignment 2</title>

  <body>
   <h1>Cloud Computing Assignment 2 - Karthy</h1>
   <br/>
   <br/>
    <h2>Main Menu</h2>
    <form>
         <h3><a href="{{ url_for('list')}}">List Files</a></h3>
         <h3><a href="{{ url_for('goupload')}}">Upload File</a></h3>
    </form>
    </head>
  </body>

</html>
